
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 80px;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    background-color: #ffcc00 ;
    padding: 25px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 10px;
}

.text-center{
    background-color: aliceblue;
    box-shadow: 3px 3px 5px;
    width: 500px;
    height: 50px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
}

.gallery {
    text-align: center;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    transition: transform 0.3s;
    border-radius: 10px;
    background-color: white;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.description {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.footer {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
