body {
    font-family: Arial, sans-serif;
    font-weight: 300;
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 80px;
    background-image:url(pictures/supermarket-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    background-color: #ffcc00 ;
    padding: 25px;
}

/* Container */
.container-1 {
    max-width: 1100px;
    margin: auto;
}

/* Card Styles */
.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-center{
    background-color: rgb(107, 227, 113);
    width: 600px;
    height: 100px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
    font-weight: 800;
}

.text {
    flex: 1;
}

.image {
    text-align: center;
}

.image img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

button {
    margin-top: 10px;
}

.btn-success {
    background-color: #28a745;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}

.contact-info {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info h4 {
    color: #0fcf3c;
}

.contact-info p {
    font-size: 18px;
}

.footer {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}



